@reference "../../../../styles.css";

.toast-card {
  @apply flex items-center w-full max-w-xs p-4 rounded-lg shadow-2xl border backdrop-blur-md transition-all duration-300;
}

.toast-success {
  @apply bg-emerald-900/20 border-emerald-500/50 text-emerald-400;
}
.toast-error {
  @apply bg-red-900/20 border-red-500/50 text-red-400;
}
.toast-info {
  @apply bg-indigo-900/20 border-indigo-500/50 text-indigo-400;
}

.toast-in {
  opacity: 1;
  transform: translateX(0);

  /* Estado inicial antes de entrar al DOM */
  @starting-style {
    opacity: 0;
    transform: translateX(100%);
  }
}

.toast-out {
  opacity: 0;
  transform: scale(0.9) translateY(10px);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}
